<!DOCTYPE html>
<html>
  <head>
    <title>Omegle Chat</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" integrity="sha256-SzKOQsVYGX1bmddyfPzGC6yXY/rWYGUSMOi6+T9gZ+0=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=omegleBot.recaptchaReady&render=explicit"async defer></script>
    <script type="text/javascript" src="/js/client.js"></script>
  </head>
  <body>
      <div id="dropdownOptions" class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" data-bind="click: markSpam">Mark as Spam</a>
        <a class="dropdown-item" data-bind="click: train">Train Response</a>
        <a class="dropdown-item" data-bind="click: openLink">Open Link</a>
      </div>
      <div class="card border-primary col-12">
        <div class="card-body">
          <h4 class="card-title">Chat Log</h4>
          <p class="card-text" id="chatLog" data-bind="html: chatLog" style="min-height: 250px; height: 700px; overflow-y: scroll;"></p>
        </div>
        <div class="card-footer">
            <input type="text" id="customMessage" data-bind="value: customMessage, event: { keyup: messageEventHandler }" class="form-control">
        </div>
        <div class="card-header">          
            <button class="btn btn-success" data-bind="click: toggleConnection">Connect</button>
            <button class="btn btn-warning" data-bind="click: disconnect">Disconnect</button>
            <button class="btn btn-primary" data-bind="click: toggleAI">
                <span data-bind="if: aiBotEnabled">Disable</span>
                <span data-bind="if: !aiBotEnabled()">Enable</span>
                Bot
            </button>
            <a class="btn btn-info" href="/logs">View Logs</a>
          </div>
      </div>
  </body>
</html>
