.event {
  font-style: italic;
  color: #BBB;
}
.chat-message {
  font-size: 1.1em;
}
.chat-message.Bot strong {
  color: #3080CF;
}
.chat-message.Me strong {
  color: purple;
}
.chat-message.Stranger strong {
  color: orangered;
}